<dom-module id="cells-jhony-login-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-jhony-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%; }

button:hover {
  opacity: 0.8; }

:host .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0; }

:host .avatar {
  width: 100px;
  height: 100px;
  border-radius: 80%; }

:host .container {
  padding: 16px; }

span.psw {
  float: right;
  padding-top: 16px; }

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 100%; } }

</style></template></dom-module>